

// Fonts
@font-face {
    font-family: 'Billabong';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Billabong/Billabong.woff') format('woff'),  /* Modern Browsers */
         url('../fonts/Billabong/Billabong.eot'), /* IE9 Compat Modes */
         url('../fonts/Billabong/Billabong.ttf')  format('truetype'); /* Safari, Android, iOS */
}

.custom-shadow {
    -webkit-filter: drop-shadow(-40px 130px 25px #303030);
    filter:         drop-shadow(-40px 130px 25px #303030); 
}